.headerContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid gray;
    height: 70px;
    z-index: 1000;
}

.leftContainer {
    flex: .2;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}

.inputContainer {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 20px;
    margin-left: 5px;
    display: flex;
}

.inputContainer>input {
    border: none;
    outline-width: 0;
}

.leftContainerLogo {
    margin-left: 10px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid gray;
}

.middleContainer {
    flex: .6;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#rightContainer {
    flex: .2;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    cursor: pointer;
}

#rightContainer.active {
    left: 0;
}

.navbar {
    display: none;
}

#rightContainer>p {
    display: none;
}

.headerIcon {
    color: black;
}

.headerIcon:hover {
    -webkit-animation: headerIcon 0.9s both;
    animation: headerIcon 0.9s both;

}

@-webkit-keyframes headerIcon {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes headerIcon {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.logoutBtn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--night-rider);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 15px;
}

.sign svg path {
    fill: var(--af-white);
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--af-white);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

/* hover effect on button width */
.logoutBtn:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
}

.logoutBtn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

/* hover effect button's text */
.logoutBtn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

/* button click effect*/
.logoutBtn:active {
    transform: translate(2px, 2px);
}

@media only screen and (max-width: 1024px) {
    .leftContainer {
        flex: .1;
    }

    .middleContainer {
        flex: .5;
    }

    #rightContainer {
        flex: .4;
        justify-content: space-around;
        border-left: 2px solid gray;
        height: 30px;
        align-items: center;
    }
}

@media only screen and (max-width: 780px) {
    .middleContainer {
        flex: 1;
        margin-right: 20px;
    }

    #rightContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 70px;
        margin-left: 780px;
        left: -250px;
        width: 250px;
        height: 70vh;
        border-right: 1px solid white;
        padding: 20px 0 0 10px;
        gap: 20px;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.726);
        background-color: rgba(255, 255, 255, 0.514);
        backdrop-filter: blur(3px);
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom: 2px solid gray;
    }

    #rightContainer.active {
        opacity: 1;
        left: 0;
    }

    .navbar {
        display: block;
        cursor: pointer;
        margin-right: 20px;
    }

    #rightContainer>p {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .leftContainer {
        flex: 1;
    }

    .headerContainer>.middleContainer {
        position: fixed;
        bottom: 0;
        width: 100%;
        flex: 1;
        background-color: white;
        border-top: 2px solid gray;
        margin-top: auto;
        margin-bottom: 0;
    }

    #rightContainer {
        margin-left: 480px;
    }

    .inputContainer {
        width: 100%;
    }
}